@charset "utf-8";
/*=========================================================*/
/* footer */
/*=========================================================*/
footer { background:#000;color:#FFF;font-size:12px; }
footer a,footer a:hover { color:#FFF; }
footer ul { padding:0 0 0 15px; }


@media (min-width: 768px){
	footer .footerNavi { padding:10px 0; }
	footer .footerNavi li { padding:3px 0; }
	footer .footerNavi li a { font-size:11px; }
	footer .footerNavi li.parent a { font-weight:bold; }
	
	.footerNavi .col-xs-1, .footerNavi .col-sm-1, .footerNavi .col-md-1, .footerNavi .col-lg-1, .footerNavi .col-xs-2, .footerNavi .col-sm-2, .footerNavi .col-md-2, .footerNavi .col-lg-2, .footerNavi .col-xs-3, .footerNavi .col-sm-3, .footerNavi .col-md-3, .footerNavi .col-lg-3, .footerNavi .col-xs-4, .footerNavi .col-sm-4, .footerNavi .col-md-4, .footerNavi .col-lg-4, .footerNavi .col-xs-5, .footerNavi .col-sm-5, .footerNavi .col-md-5, .footerNavi .col-lg-5, .footerNavi .col-xs-6, .footerNavi .col-sm-6, .footerNavi .col-md-6, .footerNavi .col-lg-6, .footerNavi .col-xs-7, .footerNavi .col-sm-7, .footerNavi .col-md-7, .footerNavi .col-lg-7, .footerNavi .col-xs-8, .footerNavi .col-sm-8, .footerNavi .col-md-8, .footerNavi .col-lg-8, .footerNavi .col-xs-9, .footerNavi .col-sm-9, .footerNavi .col-md-9, .footerNavi .col-lg-9, .footerNavi .col-xs-10, .footerNavi .col-sm-10, .footerNavi .col-md-10, .footerNavi .col-lg-10, .footerNavi .col-xs-11, .footerNavi .col-sm-11, .footerNavi .col-md-11, .footerNavi .col-lg-11, .footerNavi .col-xs-12, .footerNavi .col-sm-12, .footerNavi .col-md-12, .footerNavi .col-lg-12 {
		padding-left: 0px;
		padding-right: 0px;
	}

}
footer .footerBottom { 
    padding:20px 0;
    border-top:1px solid #959595; 
    .container{
        width: 100%;
        max-width: 1100px;
    }
}
/* page top */
#page-top { 
	width:100%;
    margin: 0;
    padding: 0;
    border-bottom:0px solid #959595;
    @media screen and (min-width: 920px) {
        padding:5px 0;
	    border-bottom:1px solid #959595;
    }
}
#page-top a { 
	display:block;
	padding: 10px 0 5px 0;
}

@media (max-width: 767px){
	.footerNavi { display:none !important; }
	footer .footerBottom { padding:20px 0;border-top:none; }
	footer .text-right,	footer .text-left { text-align:center; }
	footer .footerBottom .copyright { font-size: 10px; text-align:center;}
	footer .textLink { text-align:center !important;margin:0 0 20px 0; }
}
.l-footer {
	&__nav {
		display: flex;
		flex-flow: column;
        padding: 10px 0;
		@media screen and (min-width: 920px) {
			flex-flow: row wrap;
			gap: 20px;
			justify-content: space-between;
			max-width: 100%;
			margin: 0 auto;
			padding: 10px 30px 10px;
			box-sizing: content-box;
		}
		@media screen and (min-width: 1200px) {
            flex-flow: row nowrap;
            justify-content: space-between;
            max-width: 1100px;
		}
	}

	&__nav-block {
		width: 100%;
		&:first-child{
			.l-footer__nav-title-area {
				&:first-child{
					border-top: 1px solid #999;
				}
			}
		}

		@media screen and (min-width: 920px) {
			width: auto;
   			white-space: nowrap;
			&:first-child{
			.l-footer__nav-title-area {
					&:first-child{
						border-top: 0px solid #fff;
                        border-bottom: 0px solid #fff;
					}
				}
			}
		}
	}

	&__nav-title-area {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #999;
        @media screen and (min-width: 920px) {
            border-bottom: 0px solid #999;
        }
	}

	&__nav-title {
		width: 84%;
		font-size: 1.4rem;
		font-weight: bold;
		color: #fff;
		padding: 20px 0 20px 36px;
		position: relative;
		text-decoration: none;
		width: calc(100% - 60px);
        .pc{
            display: none;
            @media screen and (min-width: 920px) {
                display: block;
            }
        }
        &:hover, &:focus {
           color: #fff;
           text-decoration: none;
        }
		@media screen and (min-width: 768px) {
			width: calc(100% - 60px);
		}
		&.c-icon__arrow--white::before { left: 10px; }

		@media screen and (min-width: 920px) {
			color: #fff;
			padding: 0;
			font-size: 1.4rem;
			margin-bottom: 20px;
			display: block;
			width: 100%;
			position: relative;
			transition: color .3s ease-out;
            opacity: 1;
            transition: opacity .5s ease-in-out;
            &:hover{
                opacity: 0.7;
                color: #fff;
            }
			&.c-icon__arrow--white{
				padding-left: 15px;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					margin: auto;
					width: 6px;
					height: 6px;
					transform: rotate(45deg);
					border-top: 2px solid #fff;
					border-right: 2px solid #fff;
				}
				&:hover{
					color: #fff;
				}
			}
			&-parent{
				&.c-icon__arrow--white{
					margin-bottom: 15px;
				}
			}
			&::after { content: none; }
		}

		@media screen and (min-width: 1200px) {
			font-size: 1.6rem;
			margin-bottom: 30px;
			&-parent{
				&.c-icon__arrow--white{
					margin-bottom: 20px;
				}
			}
		}

		&.is-open::after { transform: translateY(-50%) rotate(180deg); }

		&-arrow {
			@media screen and (min-width: 920px) { display: none; }
		}
	}

	&__nav-list {
		list-style: none;
		margin: 0;
		font-size: 1.4rem;
		display: none;
        background-color: #fff;
        padding: 0;

		@media screen and (min-width: 920px) {
			display: block;
            background-color: transparent;
			font-size: 1.3rem;
			margin-bottom: 30px;
			display: block !important;
		}

		@media screen and (min-width: 1200px) {
			font-size: 1.4rem;
		}

		li {
			padding: 15px 10px 15px 36px;
			border-bottom: 1px dotted #000;
			position: relative;

			&::before{
				  left: 10px;
			}

			& > a {
				display: block;
				color: #000;
				text-decoration: none;
                @media screen and (min-width: 920px) {
                    color: #fff;
                    opacity: 1;
                    transition: opacity .5s ease-in-out;
                    &:hover{
                        opacity: 0.7;
                        color: #fff;
                    }
                }
			}

			@media screen and (min-width: 920px) {
				margin-bottom: 15px;
				padding: 0 0 0 15px ;
				border: none;
				position: relative;
				font-size: 1.4rem;
				&::before{
				  left: 0px;
				}	
			}
			@media screen and (min-width: 1200px) {
				font-size: 1.4rem;
				margin-bottom: 20px;
			}
		}
		&.sub {
			display: block;
			background-color: #000;

			@media screen and (min-width: 920px) {
				background-color: transparent;
			}

			li {
				padding: 0;
				border: none;

				& > a {
					display: block;
					font-size: 1.6rem;
					color: #fff;
					padding: 20px 30px;
					position: relative;
					text-decoration: none;
					border-bottom: 1px solid #fff;
					font-weight: normal;

					&::before {
						content: "";
						position: absolute;
						top: 50%;
						left: 10px;
						transform: translateY(-50%) rotate(45deg);
						width: 8px;
						height: 8px;
						border-top: 2px solid #fff;
						border-right: 2px solid #fff;
					}

					@media screen and (min-width: 920px) {
						font-size: 1.3rem;
						padding: 0;
						border: none;
						color: #000;
                        opacity: 1;
                        transition: opacity .5s ease-in-out;
                        &:hover{
                            opacity: 0.7;
                        }
						&::before {
							content: none;
						}
					}

					@media screen and (min-width: 1200px) {
						font-size: 1.5rem;
					}
				}
			}
		}

		&__nav-title.is-open + .l-footer__nav-list {
			display: block;
		}
	}
}