@charset "utf-8";
.c-btn {
    &__arrow{
        position: absolute;
        width: 16px;
        height: 16px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(135deg);
        transition: transform .5s ease;
        margin: auto;
        position: relative;
        top: -2px;
        cursor: pointer;
        &.is-open{
            transition: transform .5s ease , top .5s ease;
            transform: rotate(-45deg);
            top: 4px;
        }
        @media screen and (min-width: 1024px) {
            border-top: 1px solid #fff;
            border-right: 1px solid #fff;
            width: 10px;
            height: 10px;
            top: 50%;
            transform: rotate(135deg) translate(-50%, 40%);
            transition: none;
            position: absolute;
            right: 20px;
            top: 50%;
            &.is-open{
                border-top: 1px solid #000;
                border-right: 1px solid #000;
                transition: transform .5s ease , top .5s ease;
                transform: rotate(-45deg);
                top: 48%;
            }
        }
    }
}