@charset "utf-8";
body {
	width: 100%;
	height: 100%;
	&.fixed{
		position: fixed;
		@media screen and (min-width: 1024px) {
			position: static;
		}
	}
}
a:focus {
  outline: none;
  outline-offset: 0;
}
/**
 loadingLayer
**/

#loadingLayer{
  position:fixed;
  margin: auto;
  inset: 0;
  z-index:10000;
}
#loadingLayer #box{
	position:fixed;
	margin: auto;
	inset: 0;
	background: rgba(38, 142, 234, 0.95);
}
#loading {
  position: absolute;
  margin: auto;
  inset: 0;
  width: 70vw;
  height: auto;
  max-width: 900px;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
     width: 960px;
  }
}
@media (min-width: 1280px) {
  .container {
     width: 1100px;
  }
}