@charset "utf-8";
/* CSS Document */
.modal_area{
    ul{
        margin-top: 30px;
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
        width: 100%;
        padding: 0;
        li{
            width: calc((100% - 40px) / 3);
            a.gallery {
                width: 100%;
                height: auto;
                display: block;
                img {
                    width: 100%;
                    height: auto;
                    display: block;
                    }
                }
        }
    }
}
/* オーバーレイ表示開始 */
.mfp-bg {
  z-index: 10000;
}
.mfp-wrap {
  z-index: 10000;
}
.mfp-container{
    padding: 0 30px;
    @media (max-width: 900px) {
        padding: 0 30px;
    }
}
.mfp-image-holder .mfp-content {
    max-width: 100%;
    opacity: 1;
    animation: modal 1s ease-in-out both;
    @media (min-width: 768px) {
        max-width: 80vw;
    }
}
@keyframes modal{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#mascot{
	.imgBox{
		margin: 0 0 20px;
	}
}
.img-responsive {
  width: 100%;
}
dt {
  font-weight: bold;
  font-size: 1.8rem;
}
dd {
  margin-left: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
}