@charset "utf-8";
/* CSS Document */
// モジュールの読み込み
// Foundation
@use '../foundation/base' as base;
@use '../foundation/common' as common;

#topContent { 
	width:100%;
	height:auto;
	padding: 60px 0 0;
}
.mySwiper {
	height: auto;
	box-sizing: border-box;
	width: 100%;
}
.mySwiper2 {
	display: none;
	height: auto;
    width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
	@media (min-width: 1024px){
		display: block;
		padding: 0 30px;
		max-width: 1440px;
		.swiper-wrapper{
  			transition: none !important;
		}
	}
}
.mySwiper .swiper-slide-thumb-active {
	opacity: 1;
}
.mySwiper2 .swiper-slide {
	width: auto;
	height: 100%;
	position: relative;
	&.swiper-slide-thumb-active{
		&::before{
			background-color: #050505;
		}
	}
	&::before{
		content: "";
		display: block;
		width: 100%;
		margin-bottom: 8px;
		top: 0;
		left: 0;
		height: 5px;
		background-color: #c7c7c7;
		transition: background-color 1s ease-in;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
		object-fit: contain;
	}
	span{
		margin-top: 10px;
		display: block;
		color: #0b5d85;
		font-size: 1.3rem;
		font-weight: bold;
	}
}
.p-swiper{
	padding-bottom: 40px;
	@media (min-width: 1024px){
		padding: 0;
	}
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #000;
  opacity: .3;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #000;
}
.swiper-wrapper {
  padding: 0;
  margin: 0;
}

.swiper-pagination{
	@media (min-width: 1024px){
		display: none;
	}
}
.swiper-button-next ,.swiper-button-prev {
  display: none;
  @media (min-width: 1024px){
	display: block;
  }
}
.p-swiper .swiper-wrapper .swiper-slide { 
	position:relative;
	display:block;
	width:100%;
	height:auto;
	margin:0;
	z-index: 1;
	overflow:hidden; 
}
.p-swiper .swiper-wrapper .swiper-slide .swiper-link{
	width: 100%;
	height: 100%;
	display: block;
}
.p-swiper .swiper-wrapper .swiper-slide .swiper-link picture {
  width: 100%;
  height: 100%;
  display: block;
}
.p-swiper .swiper-wrapper .swiper-slide  img { 
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}
.p-swiper .swiper-wrapper .swiper-slide .copyWrapper img { 
	display: none;
	@media (min-width: 1024px){
		display: block;
		width:auto;
		height:auto;
		z-index:2;
		position:absolute;
		top:50%;
		left:10%; 
		transform: translateY(-50%);
	}
}
.bx-wrapper { 
    margin: 0 auto 20px auto;
}
.sliderNav  { 
	padding:0 7px; 
	margin:0 0 30px 0 !important; 
}
.sliderNav .thumb { 
	float:left;
	margin-right:10px; 
}
.sliderNav .thumb:last-child { 
	margin-right:0; 
}
.sliderNav .thumb a { 
	display:block;
	border-top:4px solid #E4E4E4;
	padding:8px 0;
	width:160px;
	margin:0 auto;
	font-weight:bold; 
}
.sliderNav .thumb a.active { 
	border-top:4px solid #000; 
}
.sliderNav .thumb a:hover, 
.sliderNav .thumb a:focus { 
	text-decoration:none; 
}
.sliderNav .thumb img { 
	margin:0 0 5px 0; 
}
.sliderNav .thumb span { 
	color:#0B5D85;
	font-size:12px; 
}
#linkBlock h2 img { 
	height:15px; 
}
#linkBlock .textBox  { 
	font-size:14px;
	height:auto;
	margin:5px 0 0 0;
	line-height:1.6;
	font-weight:bold; 
	color:#666;
	span { 
		font-size:70%;
	}
	@media (min-width: 1024px){
		font-size:16px;
	}
}
#linkBlock {
	margin:10px 0 0 0;
	padding:30px 0;
	border-top:1px solid #E4E4E4; 
}
#linkBlock .container{ 
	padding:0 30px; 
}
#linkBlock h2 { 
	padding:0 10px; 
}
#linkBlock .box { 
	margin:15px 0; 
}
#linkBlock .imgBox { 
	overflow:hidden; 
}
#linkBlock .imgBox img {    
	height: auto;
	-webkit-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
	width: 100%;
	vertical-align: bottom;
}
#linkBlock .imgBox a:hover img {
	transform: scale(1.15,1.15);
	-webkit-transform:scale(1.15,1.15);
	-moz-transform:scale(1.15,1.15);
	-ms-transform:scale(1.15,1.15);
	-o-transform:scale(1.15,1.15);
}
#linkBlock .textBox span { 
	display:block;
	color: #2380BE; 
	font-family: 'Lora', serif;
	font-weight:normal;
}
.p-infoBlock { 
	background:#E1E1E1;
	margin:20px 0 0 0;
	padding:10px 0;
}
.p-infoBlock h2 { 
	padding:0 10px;
	margin:0 0 10px 0; 
}
.p-infoBlock h2 a { 
	display:block;
	float:left;
	margin:10px 0 0 0;
	font-size:12px;
	color:#333;
	background:url(../images/arrow_1.png) no-repeat left center;
	padding:0 0 0 15px; 
}
.p-infoBlock .container{ 
	padding:0 5px; 
}

.p-infoBlock .infoBox div span { 
	display:block; 
}
.sliderNav { 
	display:none;
}
.sliderMain {
	display:none; 
}
.flexbox{
	display: flex;
	flex-wrap: wrap;
}
.p-infoBlock { 
	background:#E1E1E1;
	padding:30px 0; 
}
.p-infoBlock .container{ 
	padding:0 0; 
	display: flex;
  	flex-flow: column;
}
.p-infoBlock h2 { 
	padding:0 10px;
	margin:0 0 20px 0; 
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: end;
	@media (min-width: 1024px){
		padding:0 ;
	}
}
.p-infoBlock h2 img { 
	width: auto;
  	height: 21px;
}
.p-infoBlock h2 a { 
	display:block;
	font-size:1.2rem;
	color:#333;
	background:url(../common/images/arrow_1.png) no-repeat right center;
	padding:5px 15px 0 0; 
	@media (min-width: 1024px){
		font-size:1.6rem;
	}
}
.p-infoBlock .infoBox { 
	border-top:1px solid #C3C3C3;
	border-left:1px solid #C3C3C3;
	border-right:1px solid #C3C3C3;
	background:#FFF; 
}

.p-infoBlock__box { 
	padding:10px 5px; 
	border-bottom:1px solid #C3C3C3;
	padding:15px; 
	display: flex;
	flex-flow: column;
	gap: 10px;
	@media (min-width: 1280px){
		flex-flow: row nowrap;
		align-items: flex-start;
		gap: 20px;
	}
}
.p-infoBlock{
	&__top{
		display: flex;
		flex-flow: row nowrap;
		gap: 10px;
		.p-news__cat{
			font-size: 1.4rem;
			text-decoration: none;
			transition: opacity .5s ease;
			color: #FFF; 
			text-align:center;
			padding: 4px 8px; 
			width: 90px;
			&:hover{
				opacity: .7;
			}
		}
	}
	&__bottom{
		display: flex;
		flex-flow: column;
		gap: 5px;
		time {
			font-size: 1.4rem;
			@media (min-width: 1024px){
				font-size: 1.6rem;
			}
		}
		a{
			font-size: 1.6rem;
		}
	}
}
.p-infoBlock__box .release,
.p-infoBlock__box .topics,
.p-infoBlock__box .news {
	display: inline-block;
	padding: 4px 10px;
	margin-bottom: 4px;
}
.p-infoBlock__box a { 
	color: #118EFF; 
	margin-left:0;
}
.p-infoBlock__box span { 
	color: #333; 
	margin-right:15px; 
}
.p-infoBlock__box .release { 
	background:#118EFF;
}
.p-infoBlock__box .topics { 
	background:#143d97;
}
.p-infoBlock__box .news { 
	background:#db6a1e;
}

@media (min-width: 768px){
	.sliderNav  { 
		width: 100%; 
	}
	.sliderNav .slick-active .box { 
		border-top:4px solid #000; 
	}
	.sliderNav .thumb img { 
		margin:0 0 5px 0; 
	}
	.sliderNav .thumb img:hover { 
		cursor: pointer; 
	}
	.sliderNav .thumb span { 
		color:#0B5D85;
		font-size:12px; 
	}
}
@media (min-width: 1024px){
	#topContent { 
		width:100%;
		height:auto;
		padding: 0;
	}
	.container {
		width: 960px;
  }
	#linkBlock .container { 
		padding: 0; 
	}
	.bx-default-pager { 
		display:none; 
	}
	.sliderNav { 
		display:block; 
	}
	.sliderMain { 
		display:block; 
	}
	.p-swiper .swiper-wrapper .swiper-slide { 
		position:relative;
		display:block;
		width:100%;
		height:auto;
		margin:0;
		overflow:hidden; 
	}
	.p-swiper .swiper-wrapper .swiper-slide img { 
		width:100%;
		z-index:1; 
	}
	.p-swiper .swiper-wrapper .swiper-slide .copyWrapper img { 
		width:45%;
	}
	.sliderNav .thumb img { 
		margin:0 0 5px 0; 
	}
	.sliderNav .thumb img:hover { 
		cursor: pointer; 
	}
	.sliderNav .thumb span { 
		color:#0B5D85;
		font-size:12px; 
	}
	.sliderNav  { 
		padding:0 7px; 
		margin:0 0 30px 0 !important; 
	}
	.sliderNav .thumb { 
		float:left;
		margin-right:10px; 
	}
	.sliderNav .thumb:last-child { 
		margin-right:0; 
	}
	.sliderNav .thumb a { 
		display:block;
		border-top:4px solid #E4E4E4;
		padding:8px 0;
		width:160px;
		margin:0 auto;
		font-weight:bold; 
	}
	.sliderNav .thumb a.active { 
		border-top:4px solid #000; 
	}
	.sliderNav .thumb a:hover, 
	.sliderNav .thumb a:focus { 
		text-decoration:none; 
	}
	.sliderNav .thumb img { 
		margin:0 0 5px 0; 
	}
	.sliderNav .thumb span { 
		color:#0B5D85;
		font-size:12px; 
	}
}
@media (min-width: 1280px){
	.container {
		width: 1100px;
		margin: 0 auto;
	}
	.p-swiper .swiper-wrapper .swiper-slide .copyWrapper img {
		width: auto;
		height: auto;
}
}