.greeting .greetingWrapper {
		padding: 20px 10px 0;
		margin-left: -10px;
		width: 100%;
        box-sizing: border-box;
		box-sizing: content-box;
        @media (min-width: 1024px) {
        padding: 20px 0 0 0;
        }
}
.greeting .leadBox {
	color: #0072c7;
	font-size: 21px;
    line-height: 1.8;
	margin: 0;
	padding: 10px 0 0px 0;
}
#pageContents .greeting .copyBox {
	width: 100%;
	margin: 30px 0 0;
	box-sizing: border-box;
	position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    background-image: url(../images/company/greeting_bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
#pageContents .greeting .copyBox #copyBoxtop {
    position: relative;
    height: 200px;
    padding: 56px 0;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
#pageContents .greeting .copyBox #copyBoxtop::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 88px;
    background-color:#6CA1FF;
    mix-blend-mode: overlay;
    opacity: 0.8;
    z-index: 1;
}
#pageContents .greeting .copyBox #copyBoxtop img{
    width: 80%;
    height: auto;
    margin: 0 0 0 30px;
    position: relative;
    z-index: 2;
}
@media (min-width: 480px) {
#pageContents .greeting .copyBox #copyBoxtop img{
    width: 334px;
    height: 48px;
    margin: 0 0 0 30px;
    position: relative;
    z-index: 2;
}
}
#pageContents .greeting .copyBox #copyBoxbottom {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    @media (min-width: 1024px) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}
#pageContents .greeting .bgimg {
	width: 100%;
	height: 375px;
	margin: 0px;
	background: url(../en/company/images/greeting_ceo.png) no-repeat bottom right;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: -1;
}
#pageContents .greeting .band {
	width: 100%;
	margin: 20px 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -2;
}
#pageContents .greeting .blank {
	width: 100%;
	height: 0px;
	padding-top: calc(30% + 40px);
	box-sizing: content-box;
}
#pageContents .greeting .copy {
	width: 100%;
	margin: 0px;
	color:ã€€#000;
	box-sizing: content-box;
	font-size: 13px;
	line-height: 1.6;
	text-align: left;
}
#pageContents .greeting .copy p {
    color: #fff;
    line-height: 2;
    margin: 0 30px 0 30px;
    @media (min-width: 1024px) {
        color: #fff;
        line-height: 2;
        margin: 0 0 0 30px;
    }
}
#pageContents .greeting .band img {
	width: 100%;
	height: auto;
}
#pageContents .greeting #dummyarea {
	width: 270px;
	height: 375px;
}
@media (max-width: 480px) {
	#pageContents .greeting .copy {
		width: 100%;
		padding-right: 0px;
	}
	#pageContents .greeting #dummyarea {
		display: block;
	}
}
@media (min-width: 481px) {
	#pageContents .greeting .copy {
		width: 100%;
	}
	#pageContents .greeting #dummyarea {
		display: none;
	}
}
@media (min-width: 1024px) {
     #pageContents .greeting .copy {
		width: calc(100% - 330px);
	}
}
.president-image {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    width: auto;
}
@media (min-width: 1024px) {
    .president-image {
    width: 330px;
}
}
.president-image img {
    width: auto;
}
@media (min-width: 1024px) {
    .president-image img {
    width: auto;    
}
}
.greeting .imgBox { margin:50px 0; }

#pageContents .greeting .dot_tracking {
	letter-spacing: -2px;
}
#pageContents .greeting .comma_tracking {
	letter-spacing: -5px;
}
.greeting .greetingWrapper2 { padding:20px 0 50px 0;box-sizing:border-box; }
