@charset "utf-8";

.p-infoBlock { 
	background:#E1E1E1;
	margin:20px 0 0 0;
	padding:10px 0;
}

.p-infoBlock .infoBox div span { 
	display:block; 
}
.flexbox{
	display: flex;
	flex-wrap: wrap;
}
.p-infoBlock { 
	background:#E1E1E1;
	padding: 0; 
}
.p-infoBlock .container{ 
	padding:0 ; 
	display: flex;
  	flex-flow: column;
	width: auto;
	@media (min-width: 768px){
		padding:0 ; 
	}
	@media (max-width: 767px){
		padding:0 ; 
	}
}
.p-infoBlock h2 { 
	padding:0 10px;
	margin:0 0 20px 0; 
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: end;
	@media (min-width: 920px){
		padding:0 ;
	}
}
.p-infoBlock .infoBox { 
	border-top:1px solid #C3C3C3;
	border-left:0px solid #C3C3C3;
	border-right:0px solid #C3C3C3;
	background:#FFF; 
}

.p-infoBlock__box { 
	padding:10px 5px; 
	border-bottom:1px solid #C3C3C3;
	padding:15px; 
	display: flex;
	flex-flow: column;
	gap: 10px;
	@media (min-width: 1200px){
		flex-flow: row nowrap;
		align-items: flex-start;
		gap: 20px;
	}
}
.p-infoBlock{
	&__top{
		display: flex;
		flex-flow: row nowrap;
		gap: 10px;
		@media (min-width: 920px){
			width: 90px;
		}
		.p-news__cat{
			font-size: 1.4rem;
			text-decoration: none;
			transition: opacity .5s ease;
			color: #FFF; 
			text-align:center;
			padding: 4px 8px; 
			&:hover{
				opacity: .7;
			}
		}
	}
	&__bottom{
		display: flex;
		flex-flow: column;
		gap: 5px;
		time {
			font-size: 1.4rem;
			@media (min-width: 920px){
				font-size: 1.6rem;
			}
		}
		a{
			font-size: 1.6rem;
		}
	}
}
.p-infoBlock__box .release {
	font-size:10px;
}
.p-infoBlock__box .release,
.p-infoBlock__box .topics,
.p-infoBlock__box .news {
	min-width: 70px;
	display: inline-block;
	padding: 4px 10px;
	margin-bottom: 4px;
}
.p-infoBlock__box a { 
	color: #118EFF; 
	margin-left:0;
}
.p-infoBlock__box span { 
	color: #333; 
	margin-right:15px; 
}
.p-infoBlock__box .release { 
	background:#118EFF;
}
.p-infoBlock__box .topics { 
	background:#143d97;
}
.p-infoBlock__box .news { 
	background:#db6a1e;
}