@charset "utf-8";
// モジュールの読み込み
// Foundation
@use '../foundation/base' as base;
@use '../foundation/common' as common;

#pages {
  padding: 60px 0 0;
  @media (min-width: 1024px){
	padding:  0px;
  }
}
/* commons */
.leadBox { 
	font-size:1.8rem;
	margin:15px; 
	@media (min-width: 768px){
		font-size:2.3rem;
		margin:20px;
	}
}
.copyBox { 
	font-size:1.4rem;
	margin:10px 20px; 
	@media (min-width: 768px){
		font-size:1.6rem;
	}
}
.copy { 
	font-size:1.4rem; 
	line-height: 1.8;
}
.modal-footer {
    text-align: center;
    border-top: none;
}

.modal-header {
    border-bottom: none;
}

.movieBlock {
    position: relative;
    width: 100%;
    padding: 56.25% 0 0 0;
    z-index: 1;
}

.movieBlock iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal-content {
    position: relative;
    background-color:transparent;
    border: none;
    border-radius: 6px;
    -webkit-box-shadow:none;
    box-shadow: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}

.modal-backdrop {
	background-color:transparent;	
}
.modal {
	background-color:transparent;
	background: url(../images/modal_bg.png) top center;	
}

.modal-bgcolor-blue .modal-backdrop {
  background-color: #428bca;
}


#pages h1 { 
	width:100%;
	text-align:center;
	color:#FFF;
	font-size:26px;
	opacity:0; 
}
#pages h1 .img { 
	position:absolute;
	z-index:1;
	width:100%; 
}
@media (max-width: 767px) {
	#pages h1 .img{
		width: 150%;
	}
}
#pages h1 .img img { width:100%;height:auto; }


#pages h1 em { display:block;font-size:11px;font-style:normal;margin-top:5px; }

// #pages h1.indexH1 { position:relative;width:100%;text-align:center;color:#FFF;font-size:26px; }
// #pages h1.indexH1 .copy { position:absolute;width:100%;padding:9% 0 0 0;text-align:center;color:#FFF;font-size:26px;z-index:99; }

// #pages h1.subH1 { position:relative;width:100%;text-align:center;color:#FFF;font-size:26px;}
// #pages h1.subH1 .copy { position:absolute;width:100%;padding:3% 0 0 0;text-align:center;color:#FFF;font-size:26px;z-index:99; }
#pages h1.indexH1,
#pages h1.subH1 {
	position:relative;
	width:100%;
	text-align:center;
	color:#FFF;
	font-size:26px;
	display: table;
}
#pages h1.indexH1 .copy,
#pages h1.subH1 .copy {
	position:relative;
	display: table-cell;
	vertical-align: middle;
	width:100%;
	padding:0 !important;
	text-align:center;
	color:#FFF;
	font-size:26px;
	z-index:99;
}
@media (min-width: 768px) {
	#pages h1.subH1 .img{
		width: 200%;
	}
}
@media (min-width: 1024px) {
	#pages h1.subH1 .img{
		width: 100%;
	}
}
@media (max-width: 767px) {
	#pages h1.subH1 .img{
		width: 300%;
	}
}
@media (max-width: 767px) {
	#pages h1.indexH1 .copy{
		font-size: 16px;
		text-shadow: 0px 2px 5px #000;
		top: -10px;
	}
	#pages h1.subH1 .copy {
		font-size: 16px;
		text-shadow: 0px 2px 5px #000;
	}
	#pages h1 em {
		display: inline-block;
		margin-top: 0;
		margin-left: 8px;
		font-size: 12px;
	}
}

#linkBlock { margin:0px 0 0 0;padding:0; }
#linkBlock .container{ padding:0 15px; }
#linkBlock h2 { padding:0 10px; }
#linkBlock .box { margin:15px 0; }
#linkBlock .imgBox { overflow:hidden; }
#linkBlock .imgBox img {
							height: auto;
							-webkit-transition:all 0.4s ease-in-out;
							transition:all 0.4s ease-in-out;
							width: 100%;
							vertical-align: bottom;
						}
#linkBlock .imgBox a:hover img {
								transform: scale(1.15,1.15);
								-webkit-transform:scale(1.15,1.15);
								-moz-transform:scale(1.15,1.15);
								-ms-transform:scale(1.15,1.15);
								-o-transform:scale(1.15,1.15);
						}
#linkBlock .textBox  { margin:10px 0 0 0;line-height:16px;font-weight:bold; color:#666;}
#linkBlock .textBox span { display:block;color: #2380BE; font-family: 'Lora', serif;font-weight:normal;}


#pageContents  { padding:15px; }
.indexPage #pageContents .wrapper  { padding:0 0 0 0; }
#pages h4 { 
	font-size:14px;
	margin:10px 0;
	padding:5px 10px;
	width:100%;
	color:#FFF;
	background:#00A3FF;
}
@media (min-width: 768px){
	#pageContents  { padding:10px 30px; }
	#pages h4 { 
		font-size:20px;
		margin:30px 0 15px 0; 
	}
	#pageContents .copy { margin:10px 0 15px 0; font-size: 1.6rem; }
	#pageContents .wrapper  { padding:0; }
}
@media (min-width: 1024px){
#pageContents  { padding:0 0 0 0; }
#pageContents .wrapper  { padding:0 0 0 40px; }
#pageContents .copy { margin:20px 0; }
#pageContents .fontSmall { font-size:10px; }
}

.typeA .col-xs-6,
.typeA .col-sm-6,
.typeA .col-md-6,
.typeA .col-sm-4,
.typeA .col-md-4 {
    padding-left: 0;
    padding-right: 0;
}
.typeA .col-xs-1, .typeA .col-sm-1, .typeA .col-md-1, .typeA .col-lg-1, .typeA .col-xs-2, .typeA .col-sm-2, .typeA .col-md-2, .typeA .col-lg-2, .typeA .col-xs-3, .typeA .col-sm-3, .typeA .col-md-3, .typeA .col-lg-3, .typeA .col-xs-4, .typeA .col-sm-4, .typeA .col-md-4, .typeA .col-lg-4, .typeA .col-xs-5, .typeA .col-sm-5, .typeA .col-md-5, .typeA .col-lg-5, .typeA .col-xs-6, .typeA .col-sm-6, .typeA .col-md-6, .typeA .col-lg-6, .typeA .col-xs-7, .typeA .col-sm-7, .typeA .col-md-7, .typeA .col-lg-7, .typeA .col-xs-8, .typeA .col-sm-8, .typeA .col-md-8, .typeA .col-lg-8, .typeA .col-xs-9, .typeA .col-sm-9, .typeA .col-md-9, .typeA .col-lg-9, .typeA .col-xs-10, .typeA .col-sm-10, .typeA .col-md-10, .typeA .col-lg-10, .typeA .col-xs-11, .typeA .col-sm-11, .typeA .col-md-11, .typeA .col-lg-11, .typeA .col-xs-12, .typeA .col-sm-12, .typeA .col-md-12, .typeA .col-lg-12{
    padding-left: 0;
    padding-right: 0;
}

.typeA .imgBox { margin:0 0 10px 0; }

.typeA .caseBox { border:1px solid #666;padding:5px;margin:10px 0; font-size:12px;}


#pageContents { opacity:0; }
#pageContents .box { margin-bottom:15px; }
#pageContents .box.rightSpace { margin-right:5px; }
#pageContents .box.leftSpace { margin-left:5px; }
#pageContents .box.centerSpace { margin:0 5px; }
@media (max-width: 1023px) {
	#pageContents .col-xs-6.threeColumn { margin-bottom: 10px; }
	#pageContents .col-xs-6.threeColumn:nth-last-child(1),
	#pageContents .col-xs-6.threeColumn:nth-last-child(2) { margin-bottom: 0; }

	#pageContents .box.rightSpace,
	#pageContents .box.leftSpace,
	#pageContents .box.centerSpace { margin:0 5px; }

	#pageContents .threeColumn .box.rightSpace strong,
	#pageContents .threeColumn .box.leftSpace strong,
	#pageContents .threeColumn .box.centerSpace  strong {
		display: inline-block;
		height: 33px;
	}
}

/* company */

.history .imgBox { margin:30px 0 50px 0;height:1617px;padding-left:120px;background: url(../images/company/history_img_bg.jpg) no-repeat top left; }
.history .imgBox .txt01 { 
	padding-top:80px;
	padding-top:75px\9;
 }
.history .imgBox .txt02 { 
	padding-top:141px;
	padding-top:139px\9;
}
.history .imgBox .txt03 { 
	padding-top:20px;
	padding-top:18px\9;
}
.history .imgBox .txt04 { padding-top:0; }
.history .imgBox .txt05 { 
	padding-top:68px;
	padding-top:69px\9;
}
.history .imgBox .txt06 { padding-top:66px; }
.history .imgBox .txt07 { padding-top:31px; }
.history .imgBox .txt08 { 
	padding-top:120px;
	padding-top:119px\9;
	}
.history .imgBox .txt09 { padding-top:0; }
.history .imgBox .txt10 { padding-top:72px; }
.history .imgBox .txt11 { padding-top:68px; }
.history .imgBox .txt12 { padding-top:0px; }
.history .imgBox .txt13 { padding-top:21px; }
.history .imgBox .txt14 { padding-top:29px; }
.history .imgBox .txt15 { padding-top:0px; }
.history .imgBox .txt16 { padding-top:0; }
.history .imgBox .txt17 { padding-top:0px; }
.history .imgBox .txt18 { padding-top:27px; }
.history .imgBox .txt19 { padding-top:27px; }
.history .imgBox .txt20 { padding-top:2px; }
.history .imgBox .txt21 { padding-top: 42px; }
.history .imgBox .txt22 { padding-top: 47px; }
.history .imgBox .txt23 { padding-top: 66px; }
.history .imgBox .txt24 { padding-top: 66px; }
.history .imgBox div { padding-left: 66px; text-indent: -66px; }
.history .imgBox div span{ margin-right:20px; }
@media (min-width: 993px) {
	.history .imgBoxSP { display:none; }	
}


@media (max-width: 992px){
.history .imgBox { display:none; }
.history .imgBoxSP { margin:30px 0 50px 0; }
}


.ethic .copy { margin:0 0 30px 0; }
.ethic .imgBox { margin:30px 0; }
.ethic .ceo {
	font-weight: 600;
	font-size: 104%;
}

.iso .isoBox { margin:15px 0;text-align:center; }
.iso .isoBox .text { margin:15px 0; }

.typeB .copyImg { margin:20px 0 20px 0; }
.typeB hr { border-bottom:2px solid #666; }
.typeB .copy strong { font-size:16px;line-height:30px; }


.quality .imgBox strong { display:block;padding:10px; }

@media (max-width: 1023px){
	.outline .imgBox { margin:10px 0; }
	.outline table th,.outline table td { display:block;width:100%; } 
	.iso .isoBox { margin:0 0 10px 0;text-align:center; }
}

/* CSR */
.csr .box.rightSpace { margin-right:5px; }
.csr .box.leftSpace { margin-left:5px; }

/* products */
.products .productTbl td { font-size:11px;vertical-align:middle;height:41px; }
.products .productTbl td a { font-size:12px;font-weight:bold; }
.products .productTbl td.grey { background:#f9f9f9; }
.products .productTbl th { font-size:11px;text-align:center;vertical-align:middle;background:#CCC; }

.cataBlock .box { padding-bottom:20px; }
.cataBlock .box:nth-child(2) { box-sizing:border-box;border-left:1px dotted #666;border-right:1px dotted #666;padding:0 15px; }
.cataBlock .box:first-child { padding:0 15px 0 0; }
.cataBlock .box:first-child img { padding:0 15px 0 0; }
.cataBlock .box:last-child { padding:0 0 0 15px; }
.cataBlock .box:last-child img { padding:0 0 0 15px; }
.cataBlock .box h3 {
    font-size: 16px !important;
    padding: 0 0 0 0 !important;
    margin: 10px 0 0 0 !important;
}

@media (max-width: 1023px){
	.cataBlock .box img { margin:0 auto;width:100%; }
	.cataBlock .box:nth-child(2) { box-sizing:border-box;border-left:none;border-right:none;padding:0; }
	.cataBlock .box:first-child { padding:0 0 0 0; }
	.cataBlock .box:first-child img { padding:0 0 0 0; }
	.cataBlock .box:last-child { padding:0 0 0 0; }
	.cataBlock .box:last-child img { padding:0 0 0 0; }
}


.cataBlock .box h3 span {
    display: block;
    font-size: 12px;
    font-family: 'Lora', serif;
    color: #00A1FF;
    padding: 5px 0 0 0;
}
.cataBlock .box h5 {
	font-size:15px;
	color:#333 !important;	
    margin: 15px 0 5px 0 !important;
	font-weight:bold;
}
#pageContents{
	.imgBox{
		.img-responsive.center-block {
			width: 100%;
		}
	}
}
/* mono */
.mono h7 { display:block;border-left:3px solid #00A3FF;padding:0 10px;margin:15px 0 10px 0; }
.mono .threeColumn { font-size:12px; }
.mono .threeColumn img { margin:10px 0; }
.mono .threeColumn strong { font-size:14px; }
.process .btnBox{ margin:10px 0 20px 0; }
@media (min-width: 768px){
	.modal-dialog {
	    width: 90% !important;
	}
}
.tool .notification { font-size:12px; margin:0 0 20px 0;}


.specification p { margin-top:-10px; }
.specification .colorA { background:#FFFDE5; }
.specification .colorB { background:#E7F3E8; }
.specification .colorC { background:#E6F4FD; }
.specification .colorD { background:#FDF0F6; }
.specification .colorE { background:#EDE8F3; }
.specification .colorDetail { margin:0 0 15px 0; }
.specification .colorWrapper { float:left;font-size:12px;margin:0 20px 5px 0; }
.specification .colorWrapper .colorBox { border:1px solid #666;padding:5px 20px;float:left;margin:0 10px 0 0; }
.specification .colorWrapper em { font-style:normal; }


.stock .colorA { background:#E6F4FD; }
.stock .colorB { background:#FFFDE5; }
.stock .colorC { background:#F8DFEC; }
.stock .colorDetail { margin:0 0 15px 0; }
.stock .colorWrapper { float:left;font-size:12px;margin:0 20px 5px 0; }
.stock .colorWrapper .colorBox { border:1px solid #666;padding:5px 20px;float:left;margin:0 10px 0 0; }
.stock .colorWrapper em { font-style:normal; }

@media (max-width: 1023px){
	.mono .threeColumn strong { font-size:12px; }
	
	

}




.information .infoContent { margin-top:20px; }
.informationIndex { padding:0 0 0 40px !important; }
#infoBlock .container{ width:auto;padding:0; }
#infoBlock .infoBox { background:#FFF; }
#infoBlock .infoBox .box:first-child { border-top:1px solid #E4E4E4; }
#infoBlock .infoBox .box:nth-child(2n+0) { background:url(../images/arrow_1.png) no-repeat right 10px center #EFEFEF; }
#infoBlock .infoBox .box { border-bottom:1px solid #E4E4E4;padding:15px;margin:0;background:url(../images/arrow_1.png) no-repeat right 10px center; }
#infoBlock .infoBox .box a { color: #118EFF; margin-left:15px; }
#infoBlock .infoBox .box span { color: #333; margin-right:15px; }
#infoBlock .infoBox .box .release { color: #FFF; font-size:10px;text-align:center;background:#118EFF;padding:4px 0; }
#infoBlock .infoBox .box .topics { color: #FFF; font-size:10px;text-align:center;background:#143d97;padding:4px 0; }
#infoBlock .infoBox .box .news { color: #FFF; font-size:10px;text-align:center;background:#db6a1e;padding:4px 0; }


@media (max-width: 1023px){
	.informationIndex { padding:0 0 0 0 !important; }
	#infoBlock .container{ padding:0 5px; }
	#infoBlock .infoBox .box .release { font-size:10px;padding:5px; }
	#infoBlock .infoBox div span { display:block; }
	#infoBlock .infoBox .box a { margin-left:0; }
	#infoBlock .infoBox .box { padding:10px 5px; }
}



/* global */

.global .blockList { margin:0 0 40px 0; }
.global .blockList .row { border-bottom:1px solid #00A3FF;padding:5px 0; }
.global .blockList .row .ttlBox a { display:block;background:#00A3FF;color:#FFF; height:80px;margin:15px;font-size:20px;text-align:center;padding:25px 0 0 0;}
.global .blockList .row .textBox { margin:15px;padding:10px 0 0 0;}


.whiteBorderR { border-right:10px solid #fff; }
.blueBtn { width:100%; background:#118EFF;padding:10px 0;text-align:center;display:block;color:#fff;text-decoration:none;}
.blueBtn:hover {text-decoration:none;color:#fff;background:#00A3FF;}

/* contact */
.contactContet { margin-top:20px; }

.contactBox table {	background:#F6F6F6; }
.contactBox table th { background:#EBEBEB;padding:20px !important; }
.contactBox table td { padding:20px !important; }
.contactBox table td.name {	font-weight:bold; text-align:center; }
.contactBox table td.number strong { font-size:18px; font-weight:bold; color:#1180FF; }
.contactBox table td.notice { font-size:10px;}
#contactBlock .commentBlock { margin-top:30px; }
#contactBlock .commentBlock .box { border-bottom:1px solid #CCC;padding:10px 20px;font-size:12px;margin-bottom:0; }
#contactBlock .commentBlock .box:first-child { border-top:1px solid #CCC; }
#contactBlock .commentBlock .box img { margin-right:20px; }

@media (max-width: 991px){
.contactBox table th { display:block;width:100%;text-align:left; }
.contactBox table td { display:block;width:100%;padding:10px 20px; }
.contactBox table td.name {	text-align:left; }
#contactBlock .commentBlock .box img { display:block;margin:0 0 10px 0; }
.contactBox table td.number strong { font-size:15px; }

}


/*=========================================================*/
/* スマホテーブル処理 */
/*=========================================================*/

@media (max-width: 991px){
	table{ width:100% !important; }
	.scrollTbl{ overflow: auto; white-space: nowrap !important;margin:0 0 10px 0; }
	.scrollTbl::-webkit-scrollbar{
	 height: 5px !important;
	}
	.scrollTbl::-webkit-scrollbar-track{
	 background: #F1F1F1 !important;
	}
	.scrollTbl::-webkit-scrollbar-thumb {
	 background: #BCBCBC !important;
	}
}


@media (min-width: 768px) {
  .col-sm-9 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-md-9 {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .col-md-9 {
    width: 75%;
  }
}
